* {
    margin: 0;
}

body {

    font-family: Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


img {
    width: 100%;
    height: auto;
    display: block;
}

/* Título */
h1 {
    font-size: 22px;
    text-align: center;


}



/* Footer */
footer {
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;


}